.tablet form {
  height: 4.31rem;
  padding-inline: 2rem 0.62rem;
}

.tablet img {
  margin-right: 1.5rem;
  width: 1.5rem;
}

.tablet input {
  font-size: 1.12rem;
  width: 15.87rem;
}

.tablet button {
  font-size: 1rem;
  height: 3.12rem;
  width: 6.62rem;
}
