.container {
  border-radius: 15px;
  display: grid;
}

.avatar {
  border-radius: 50%;
  justify-self: stretch;
}

.name {
  display: block;
  font-weight: 700;
}

.login {
  color: var(--color-1);
  display: block;
}

.created_at {
  display: block;
}

.stats {
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

.stats-details {
  display: flex;
}

.stat-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.number {
  font-weight: 700;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.no-bio {
  opacity: 0.75;
}
