<div
  *ngrxLet="{ theme: theme$, width: width$ } as observables"
  class="container"
  [ngClass]="[observables.theme, observables.width]"
>
  <ng-container *ngIf="user$ | async as user">
    <img [src]="user.avatar_url" alt="Avatar" />
    <header>
      <div class="name">
        <span class="name">{{ user.name || user.login }}</span>
        <span class="login">@{{ user.login }}</span>
      </div>
      <span class="created_at"
        >Joined {{ user.created_at | date : "d MMM y" }}</span
      >
    </header>
    <section class="bio">
      <p>{{ user.bio ?? "This profile has no bio" }}</p>
    </section>
    <section class="stats">
      <ul>
        <li *ngFor="let stat of stats">
          <span class="title">{{ stat.displayed }}</span>
          <span class="number">{{ user[stat.key] }}</span>
        </li>
      </ul>
    </section>
    <footer>
      <ul>
        <!-- <li *ngFor="let footerItem of footer">
          <img
            [src]="'../../assets/images/icon-' + footerItem.iconName + '.svg'"
            [alt]="footerItem.iconName"
          />
          <span class="value">{{
            user[footerItem.key] || "Not Available"
          }}</span>
        </li> -->
        <li>
          <img src="../../assets/images/icon-location.svg" alt="location" />
          <span class="value">{{ user.location || "Not Available" }}</span>
        </li>
        <li>
          <img src="../../assets/images/icon-website.svg" alt="website" />
          <a *ngIf="user.blog">{{ user.blog }}</a>
          <span *ngIf="!user.blog" class="value">Not Available</span>
        </li>
        <li>
          <img src="../../assets/images/icon-twitter.svg" alt="twitter" />
          <a *ngIf="user.blog">{{ user.location }}</a>
          <span *ngIf="!user.blog" class="value">Not Available</span>
        </li>
        <li>
          <img src="../../assets/images/icon-website.svg" alt="website" />
          <a *ngIf="user.blog">{{ user.location }}</a>
          <span *ngIf="!user.blog" class="value">Not Available</span>
        </li>
      </ul>
    </footer>
  </ng-container>
</div>
