<div
  *ngrxLet="{ theme: theme$, width: width$ } as observables"
  class="container"
  [ngClass]="[observables.theme, observables.width]"
>
  <ng-container *ngIf="user$ | async as user">
    <img class="avatar" [src]="user.avatar_url" alt="Avatar" />
    <header>
      <div class="name-login">
        <span class="name">{{ user.name || user.login }}</span>
        <span class="login">@{{ user.login }}</span>
      </div>
      <span class="created_at"
        >Joined {{ user.created_at | date : "d MMM y" }}</span
      >
    </header>
    <section class="bio" [ngClass]="{ 'no-bio': !user.bio }">
      <p>{{ user.bio ?? "This profile has no bio" }}</p>
    </section>
    <section class="stats">
      <ul class="stats-details">
        <li *ngFor="let stat of stats" class="stat-item">
          <span class="title">{{ stat.displayed }}</span>
          <span class="number">{{ user[stat.key] }}</span>
        </li>
      </ul>
    </section>
    <footer>
      <ul class="footer-items">
        <li [ngClass]="footerItems[0].item">
          <app-footer-item [item]="footerItems[0].item">
            <span class="value">{{
              user[footerItems[0].key] || "Not Available"
            }}</span>
          </app-footer-item>
        </li>
        <li [ngClass]="footerItems[1].item">
          <app-footer-item
            [item]="footerItems[1].item"
            [key]="footerItems[1].key"
          >
            <a
              *ngIf="user[footerItems[1].key]"
              target="_blank"
              [href]="user[footerItems[1].key]"
              >{{ user.blog }}</a
            >
            <span *ngIf="!user[footerItems[1].key]" class="value"
              >Not Available</span
            >
          </app-footer-item>
        </li>
        <li [ngClass]="footerItems[2].item">
          <app-footer-item
            [item]="footerItems[2].item"
            [key]="footerItems[2].key"
          >
            <a
              *ngIf="user[footerItems[2].key]"
              target="_blank"
              [href]="'https://twitter.com/' + user[footerItems[2].key]"
              >{{ user[footerItems[2].key] }}</a
            >
            <span *ngIf="!user[footerItems[2].key]" class="value"
              >Not Available</span
            >
          </app-footer-item>
        </li>
        <li [ngClass]="footerItems[3].item">
          <app-footer-item [item]="footerItems[3].item">
            <a
              *ngIf="user[footerItems[3].key]"
              target="_blank"
              [href]="'https://github.com/' + user[footerItems[3].key].slice(1)"
              >{{ user[footerItems[3].key] }}</a
            >
            <span *ngIf="!user[footerItems[3].key]" class="value"
              >Not Available</span
            >
          </app-footer-item>
        </li>
      </ul>
    </footer>
  </ng-container>
</div>
